.fade_in_section {
  opacity: 0;
  transform: translateY(100px);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
  /* display: flex; */
  justify-content: center;
}
.fade_in_section.is_visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
