.screen {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: acquire;
    background-color: #060c21;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.mycustom-breaker{
  word-break: break-all ;
  max-width: 70vw ;
}

.styleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    font-size: 0.7em;
    /* margin-top: 7vh; */
  }
  
  .formField {
    margin-bottom: 3vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .formFieldLabel {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    color: white;
  }
  
  .formFieldInput {
    width: 40vw;
    color: black;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    /* font-family: Roboto; */
    padding: 1vh;
    text-align: center;
    border-radius: 5px;
  }
  
  @font-face {
    font-family: aquire;
    src: url(./Aquire.otf);
  }
  .datetime {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  
  .list {
    width: 33%;
    padding: 10px;
    float: left;
  }
  
  .container .box {
    position: relative;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px 115px;
    left: 20px;
  }
  
  .container .box::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    /* background: rgb(0, 0, 0); */
    border-radius: 8px;
  }
  
  .container .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50;
    width: 80%;
    width: calc(100% - 90px);
    height: 100%;
    /* background: #fff; */
    border-radius: 8px;
  }
  
  .container .box:nth-child(1):before,
  .container .box:nth-child(1):after {
    /* background: linear-gradient(to right, #191a19, #191a19); */
    left: 20px;
  }
  
  .container .box:nth-child(2):before,
  .container .box:nth-child(2):after {
    /* background: linear-gradient(to left, #191a19, #191a19); */
    left: 20px;
  }
  
  .container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  .container .box span::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #0fe69e;
    box-shadow: 0 0 5px #0fe69e, 0 0 10px #0fe69e, 0 0 10px #0fe69e;
    border-style: solid;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
    top: -50px;
    left: 50px;
    width: 4.5em;
    height: 4.5em;
    opacity: 1;
  }
  
  .container .box span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #0fe69e;
    box-shadow: 0 0 5px #0fe69e, 0 0 10px #0fe69e, 0 0 10px #0fe69e;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
    bottom: -50px;
    right: 50px;
    width: 4.5em;
    height: 4.5em;
    opacity: 1;
  }
  
  @keyframes animate {
    0%,
    100% {
      transform: translateY(10px);
    }
  
    50% {
      transform: translate(-10px);
    }
  }
  
  .container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; */
    z-index: 1;
    transform: 0.5s;
    color: rgb(0, 0, 0);
    left: -25px;
    padding: 60px 40px;
    opacity: 1;
  }
  
  .container .box .content h2 {
    font-family: aquire;
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
    padding-top: 2%;
  }
  
  .container .box .content h4{
    font-family: aquire;
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
    padding-top: 2%;
  }
  
  .container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
    color: white;
    text-align: left;
    text-justify: inter-word;
  }
  
  .neon {
    color: #0fe69e;
    text-shadow: 0 0 20px #0fe69e, 0 0 20px #0fe69e;
    font-family: aquire;
  }
  .neontitle {
    color: #0fe69e;
    text-shadow: 0 0 20px #0fe69e, 0 0 20px #0fe69e;
    font-size: 1.2em !important;
  }
  @media only screen and (max-width: 500px) {
    .container .box {
      width: 500px !important;
    }
  }
  