[Unit]
Description=simplenodeserver
After=network.target mongod.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/node /var/port80/index.js
TasksMax=infinity

[Install]
WantedBy=multi-user.target